Django==2.2
django-classy-tags==0.8.0
django-cookie-law==2.0.1
pytest-runner==4.2
pytz==2018.5
git+https://github.com/cedadev/fwtheme-django.git#egg=fwtheme-django==0.1
git+https://github.com/cedadev/fwtheme-django-ceda-serv.git#egg=fwtheme-django-ceda-serv==1.2.0
elasticsearch==6.3.1
git+https://github.com/cedadev/dj-security-middleware.git#egg=dj-security-middleware==0.5.0
psycopg2==2.7.7
