asgiref==3.4.1
git+https://github.com/cedadev/ceda-elasticsearch-client.git
git+https://github.com/cedadev/fbi-core.git
elasticsearch==8.4.0
elastic-transport==8.4.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
charset-normalizer==2.0.7
crypto-cookie==0.3.1
cryptography==3.4.6
Django==4.0.7
git+https://github.com/cedadev/dj-security-middleware.git#egg=dj-security-middleware==0.5.0
django-classy-tags==2.0.0
django-cookie-law==2.2.0
git+https://github.com/cedadev/fwtheme-django.git@1b39b17#egg=fwtheme-django==1.0.1
git+https://github.com/cedadev/fwtheme-django-ceda-serv.git@f79caf5#egg=fwtheme-django-ceda-serv
idna==2.10
pycparser==2.20
pytest-runner==5.2
psycopg2-binary==2.8.6
pytz==2020.1
requests==2.26.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.26.7