{% extends "fwtheme_django/layout.html" %}
{% load static %}

{% block page_title %}
    <h1>Browse Archive</h1>
{% endblock %}

{% block head_js_extra %}
    <script src="http://artefacts.ceda.ac.uk/themes/orgtheme/0.1/_vendor/jquery/dist/jquery.min.js"></script>
{% endblock head_js_extra %}

{% block stylesheets_extra %}
    <link rel="shortcut icon" href="http://www.ceda.ac.uk/static/img/favicon.ico"/>
    <link rel="stylesheet" href="{% static 'browser/css/browser.css' %}"/>
{% endblock %}

{% block content %}

    <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
        This is a cached view of the archive, some more recent changes may not be displayed. Please use our <a
            href="/pydap/">old service</a> to view recent changes.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="row">

        <div class="col-11">
            <h3>
                {% spaceless %}
                    <a class='btn btn-outline-primary' role='button' href='/'>/</a>
                    {% for dir in index_list %}
                        <a class="btn btn-outline-primary" href="/{{ dir.path }}">{{ dir.dir }}/</a>
                    {% endfor %}
                {% endspaceless %}
            </h3>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-primary btn-sm float-right mt-2" id="copyButton"
                    onclick="copyPath()" onmouseleave="hideTooltip()" data-toggle="tooltip" title="Copy path">
                <i class="fas fa-copy" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <input class="hide" type="text" id="path" value="{{ path }}" style="display: none">
    <hr>
    <div class="row">
        <div class="col" id="collection_link"></div>
    </div>

    <div class="row">
        <div class="col-3 hide" id="readmeButton">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#readmeContent"
                    aria-expanded="false" aria-controls="readmeContent">
                00README
            </button>
        </div>
        <div class="col">
            <form class="form-inline float-right" method="post">
                <div class="form-group mb-2">
                    <label for="download_query">
                        Download multiple files
                        <a href="javascript:OpenHelpWin('http://help.ceda.ac.uk/article/4431-ceda-archive-web-download-and-services')">
                            &nbsp;<span class="fa fa-question-circle" aria-hidden="true"/>
                        </a>:
                    </label>

                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" id="download_query" value="*">
                </div>
                <div class="form-group mb-2">
                    <label>Depth: </label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <select class="form-control">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Go</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="collapse col mb-2" id="readmeContent">
            <div class="card card-body">

            </div>
        </div>
    </div>
    <table class="table">
        <thead>
        <th style="width:25.3%"></th>
        <th style="width:41.5%">Description</th>
        <th style="width:8.3%">Size</th>
        <th style="width:16.6%">Actions</th>
        </thead>
        <tbody id="results">

        </tbody>
    </table>

    <script src="{% static 'browser/js/browse.js' %}"></script>
    <script src="{% static 'browser/js/elastic_browser.js' %}"></script>
    <script src="{% static 'browser/js/mustache.min.js' %}"></script>

    <script id="dir_template" type="text/html">
        <tr>
            <td><a href="<% path %>"><span class="fas fa-folder"></span> <% item %></a></td>
            <td><% &description %></td>
            <td><% size %></td>
            <td><% &actions %></td>
        </tr>
    </script>

    <script id="file_template" type="text/html">
        <tr>
            <td><span class="<% icon %>"></span> <% item %></td>
            <td></td>
            <td><% size %></td>
            <td><% &actions %></td>
        </tr>
    </script>

{% endblock %}