{% extends "fwtheme_django/layout.html" %}
{% load static %}
{% load humanize %}

{% block head_title %}CEDA Archive Web Browser{% endblock %}
{% block extra_meta %}
    <meta name="description" content="Web based directory browser for the CEDA Archive.
    Provides download links and access to the relevant CEDA Catalogue record.">
    <meta name="keywords" content="climate data, netcdf, satellite, earth observation, observations, CEDA">
    {% if refresh %}<meta http-equiv="refresh" content="5" > {% endif %}
{% endblock %}
{% block page_title %}
{% endblock %}

{% block head_js_extra %}
    <script src="//artefacts.ceda.ac.uk/themes/orgtheme/0.1/_vendor/jquery/dist/jquery.min.js"></script>
    <script>
        function copyPath() {
            var copyText = document.getElementById("path_for_copy_button");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
{% endblock head_js_extra %}

{% block stylesheets_extra %}
    <link rel="shortcut icon" href="{% static 'browser/img/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'browser/css/browser.css' %}"/>
{% endblock %}


{% block content %}
    <!-- For copy button -->
    <div style="position: absolute; top: -1000px"><input type="text" value="{{request.path}}" id="path_for_copy_button"></div>

    <div class="collapse" id="collapseBulkDownload">
        <div class="alert alert-info" role="alert">
            <h3>Bulk Download Options</h3>
            <p>
                <ul>
                <li>Raw HTTP downloads: <a href="{{ DOWNLOAD_SERVICE }}{{ request.path }}">{{ DOWNLOAD_SERVICE }}{{ request.path }}</a>
                    (Tip: If our file indexing is behind for some reason, then this service may show more recent changes that
                    may not be displayed here)</li>
                <li>Wget: <code class="bg-light">&nbsp;wget -e robots=off --mirror --no-parent -r {{ DOWNLOAD_SERVICE }}{{ request.path }}/&nbsp;</code>
                    <a href="https://www.gnu.org/software/wget/">Wget</a> is great for bulk downloading.</li>
                <li>FTP: <a href="ftp://ftp.ceda.ac.uk{{ request.path }}">ftp://ftp.ceda.ac.uk{{ request.path }}</a>
                    There are lots of tools that can use FTP to do bulk downloads
                    (e.g. <a href="https://filezilla-project.org/">Filezilla</a>")</li>
                <li>DAP: If you need to just get a subset of NetCDF files have a look at
                    help page about interacting <a href="https://help.ceda.ac.uk/article/4442-ceda-opendap-scripted-interactions">
                        programmatically with the data</a></li>
                <li>JSON listing: Use <a href="?json">json listing</a> of this directory to script download. </li>
        </ul></p>
        </div>
      </div>

    {% for message in messages_ %}
        <div class="alert alert-with-icon alert-danger text-center" role="alert">
            <i class="fa fa-exclamation-circle"></i>&nbsp;{{ message | safe}}
        </div>
    {% endfor %}

    <div class="row">

        {% block breadcrumbs %}
        <div class="col-8">
            <div class="float-left">
                <ol class="breadcrumb">
                    {% for dir in index_list %}
                        {% if forloop.last %}
                        <li class="breadcrumb-item active text-grey">{{ dir.dir }}</li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="/{{ dir.path }}">{{ dir.dir }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% endblock %}

        <div class="col-4">
            <div class="float-right">
                <span data-toggle="tooltip" title="Bulk download options">
                    <button class="btn btn-primary mt-1" type="button" data-toggle="collapse"
                           data-target="#collapseBulkDownload" aria-expanded="false" aria-controls="collapseExample">
                           <span class="fas fa-cart-arrow-down"></span>
                    </button>
                </span>
                <button type="button" id="copy" class="btn btn-primary mt-1" data-toggle="tooltip" onclick="copyPath()"
                        data-original-title="Copy directory path" title="Copy directory path">
                    <i class="fas fa-copy" aria-hidden="true"></i>
                </button>
                <button type="button" class="btn btn-primary mt-1" data-toggle="collapse" data-target="#aggs"><small>
                    {% if  agg_info %}
                    {{agg_info.total_size|filesizeformat}} | {{agg_info.item_types.0.1 | intword| intcomma}} files | mostly {{agg_info.exts.0.0}}
                    {% else %} <img src="/static/browser/img/loading.gif" width="25" > Calculating...
                    {% endif %}
                </small></button>
            </div>
        </div>
    </div>

    <!-- for copy path function -->
    <input class="hide" type="text" id="path" value="{{ path }}" style="display: none">

    <div class="row">
        <div class="col" id="collection_link">{{cat_info|safe}}</div>
    </div>

    <div>{% for rule in access_rules %}Licence: <a href="{{rule.licence.url_link}}">{{rule.licence.title}}</a> {{rule.rule_type}} {{rule.group.name}}
        {% endfor %}</div>    
    
    <div id="aggs" class="collapse">
        <div class="alert alert-info">
                <h5>Aggrigate information</h5>
                <p>Average Size: {{agg_info.ave_size|filesizeformat}} </p>
                <p>Item Types: {% for t, n in agg_info.item_types %} <span class="badge badge-warning">{{t}}: {{n|intcomma}}</span> {% endfor %} </p>
                <p>Commmon Extensions: {% for e, n in agg_info.exts %} <span class="badge badge-light">{{e}}: {{n|intcomma}}</span> {% endfor %} </p>
                <p>Variables: {% for v in agg_info.vars %}<span class="badge badge-primary">{{v}}</span> {% endfor %}</p>             
          </div>
    </div>
  

    <div class="row">
        <div class="col-3 hide mb-2" id="readmeButton">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#readmeContent"
                    aria-expanded="false" aria-controls="readmeContent">
                00README
            </button>
        </div>
    </div>
    <div class="row">
        <div class="collapse col mb-2" id="readmeContent">
            <div class="card card-body">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col messages"></div>
    </div>


    {% block item_table %}
    <table class="table table-sm">
        <thead>
        <th style="width:25.3%"><span class="text-muted small" id="dir_count">{{counts.dir}} dirs</span>&nbsp;<span
                class="text-muted small" id="file_count">{{counts.file}} files</span></th>
        <th style="width:41.5%">Description</th>
        <th style="width:8.3%">Size</th>
        <th style="width:16.6%">Actions</th>
        </thead>

        <tbody id="results">
          
                {% for item in items %}
                    {% if item.location == 'on_tape' %}
                        <tr class="text-muted">
                            <td class="align-middle">{{item.icon|safe}}&nbsp;{{item.name}}</a></td>
                            <td class="align-middle">{{item.description|safe}}</td>
                            <td class="align-middle">{{item.size|filesizeformat}}</td>
                            <td class="align-middle"><a class="btn btn-lg" href="/storage_types#on_tape" 
                                title="" data-toggle="tooltip" data-original-title="File on tape"><i class="fa fa-info-circle"></i></a></td>                 
                        </tr>
                {% else %}
                <tr>
                    <td class="align-middle">{{item.icon|safe}}&nbsp;
                        <a href="{% if item.type == 'file' %}{{item.download}}{% else %}{{item.path}}{% endif %}">{{item.name}}</a></td>
                    <td class="align-middle">{{item.description|safe}}
                        {% if item.type == 'link' %}<i class="fa fa-bullseye"></i>&nbsp;{{item.target}}{% endif %}
                    </td>
                    <td class="align-middle">{% if item.type == 'file' %}{{item.size|filesizeformat}}{% endif %}</td>
                    <td class="align-middle">{{item.actions|safe}}</td>
                </tr>
                {% endif %}
                {% endfor %}
               
        </tbody>
    </table>
    {% endblock %}

    <div class="row">
        <div class="col messages"></div>
    </div>

{% endblock %}

{% block tail_js_extra %}
    <script>
        $('body').tooltip({selector: '[data-toggle="tooltip"]'});
    </script>
{% endblock %}