{% extends "fwtheme_django/layout.html" %}
{% load static %}

{% block page_title %}
{% endblock %}

{% block head_js_extra %}
    <script src="http://artefacts.ceda.ac.uk/themes/orgtheme/0.1/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e3d16f6d32.js" crossorigin="anonymous"></script>
{% endblock head_js_extra %}

{% block stylesheets_extra %}
    <link rel="shortcut icon" href="http://www.ceda.ac.uk/static/img/favicon.ico"/>
    <link rel="stylesheet" href="{% static 'browser/css/browser.css' %}"/>
{% endblock %}

{% block content %}

    <div class="alert alert-info text-center" role="alert">
        This is a cached view of the archive, some more recent changes may not be displayed. <a
            href="{{ THREDDS_SERVICE }}{% if request.path != '/' %}/catalog{{ request.path }}/catalog.html{% else %}/filesCatalog.html{% endif %}">View most recent listing.</a>

    </div>
    {% for message in messages_ %}
        <div class="alert alert-with-icon alert-danger text-center" role="alert">
            <i class="fa fa-exclamation-circle"></i>&nbsp;{{ message | safe}}
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-11">
            <div class="float-left">

                <ol class="breadcrumb">
                    {% if index_list|length == 0 %}
                    <li class="breadcrumb-item active">archive</li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="/">archive</a></li>
                    {% endif %}
                    {% for dir in index_list %}
                    {% if forloop.last %}
                    <li class="breadcrumb-item active text-grey">{{ dir.dir }}</li>
                    {% else %}
                    <li class="breadcrumb-item"><a href="/{{ dir.path }}">{{ dir.dir }}</a></li>
                    {% endif %}
                    {% endfor %}
                </ol>

            </div>
        </div>

        <div class="col-1">
            <div class="float-right">
                <button type="button" id="copy" class="btn btn-primary mt-1" data-toggle="tooltip"
                        data-original-title="Copy directory path" title="Copy directory path">
                    <i class="fas fa-copy" aria-hidden="true"></i>
                </button>
            </div>
        </div>
    </div>

    <input class="hide" type="text" id="path" value="{{ path }}" style="display: none">

    <div class="row">
        <div class="col" id="collection_link"></div>
    </div>

    <div class="row">
        <div class="col-3 hide mb-2" id="readmeButton">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#readmeContent"
                    aria-expanded="false" aria-controls="readmeContent">
                00README
            </button>
        </div>
    </div>
    <div class="row">
        <div class="collapse col mb-2" id="readmeContent">
            <div class="card card-body">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col messages"></div>
    </div>
    <div class="alert alert-light text-center text-dark {% if path == "/" %} hide {% endif %}" id="page_load" role="alert">
        Loading...
    </div>
    <table class="table table-sm">
        <thead>
        <th style="width:25.3%"><span class="text-muted small" id="dir_count">0 dirs</span>&nbsp;<span
                class="text-muted small" id="file_count">0 files</span></th>
        <th style="width:41.5%">Description</th>
        <th style="width:8.3%">Size</th>
        <th style="width:16.6%">Actions</th>
        </thead>


        <tbody id="results"></tbody>
    </table>
    <div class="row">
        <div class="col messages"></div>
    </div>

    <script src="{% static 'browser/js/mustache.min.js' %}"></script>
    <script src="{% static 'browser/js/browse.js' %}"></script>
    <script src="{% static 'browser/js/elastic_browser.js' %}"></script>

    <script>
        $(document).ready(function () {
            // Setup the page and load the data
            // Set options
            var options = {
                dir_index: "{{ DIRECTORY_INDEX }}",
                file_index: "{{ FILE_INDEX }}",
                exceptions: ["/sparc", "/edc", "/bodc"],
                path_prefix: THREDDS_URL,
                max_files_per_page: 2000
            };
            // Load the data
            try {
                ElasticBrowser.setup(options);
                ElasticBrowser.addResults();
            } catch(err){
                var page_load = $('#page_load')
                page_load.html("An error occured. Some older browsers are unsupported, try a newer browser. If the problem continues, <a href='mailto:support@ceda.ac.uk'>contact support.</a>")
                page_load.removeClass('alert-light text-dark')
                page_load.addClass('alert-danger')
                page_load.show()
            }
        })
    </script>


    {# Mustache templates #}

    <script id="dir_template" type="text/html">
        <tr>
            <td class="align-middle"><a href="<% path %>"><span class="fas fa-folder"></span> <% item %></a></td>
            <td class="align-middle"><% &description %></td>
            <td class="align-middle"><% size %></td>
            <td class="align-middle"><% &actions %></td>
        </tr>
    </script>
    <script>
        var THREDDS_URL = "{{ THREDDS_SERVICE }}"
    </script>

    <script id="file_template" type="text/html">
        <tr>
            <td class="align-middle"><span class="<% icon %>"></span>&nbsp;<a href="<% download_link %>"><% item %></a> </td>
            <td></td>
            <td class="align-middle"><% size %></td>
            <td class="align-middle"><% &actions %></td>
        </tr>
    </script>

    <script id="muted_file_template" type="text/html">
        <tr class="text-muted">
            <td class="align-middle"><span class="<% icon %>"></span>&nbsp;<% item %></td>
            <td></td>
            <td class="align-middle"><% size %></td>
            <td class="align-middle"><% &actions %></td>
        </tr>
    </script>


{% endblock %}
{% block tail_js_extra %}
    <script>
        $('body').tooltip({
            selector: '[data-toggle="tooltip"]'
        });
    </script>
{% endblock %}