
{% extends data_centre_template %}
{% load static %}

{% block head_title %}CEDA Archive Web Browser{% endblock %}
{% block extra_meta %}
    <meta name="description" content="Web based directory browser for the CEDA Archive.
    Provides download links and access to the relevant CEDA Catalogue record.">
    <meta name="keywords" content="climate data, netcdf, satellite, earth observation, observations, CEDA">
{% endblock %}
{% block page_title %}
{% endblock %}



{% block content %}





    <div class="row">
        <div class="col-md-12">

 <p>
            {{path}}

{{cat_info}}


</p>

        {% block breadcrumbs %}
        <div class="col-8">
            <div class="float-left">
                <ol class="breadcrumb">
                    {% for dir in index_list %}
                        {% if forloop.last %}
                        <li class="breadcrumb-item active text-grey">{{ dir.dir }}</li>
                        {% else %}
                        <li class="breadcrumb-item"><a href="/{{ dir.path }}">{{ dir.dir }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
        </div>
        {% endblock %}



                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load("current", {packages:["calendar"]});
      google.charts.setOnLoadCallback(drawCharts);

    timeline_data = [{{timeline}}];
    mod_timeline_data = [{{mod_timeline}}];
    removed_timeline_data = [{{removed_timeline}}];  

   function drawChart(data, element_id, title) {
       var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'number' });
       dataTable.addRows(data);
       var chart = new google.visualization.Calendar(document.getElementById(element_id));
       var options = {
         "title": title,
         height: 4050,
         noDataPattern: {backgroundColor: '#aaaaaa', color: '#eeeeee'},
         calendar: { cellSize: 8 },
         colorAxis: { minValue: 0,  colors: ['#000000', '#00aa00']}
       };
       chart.draw(dataTable, options);
   }

    function drawCharts() {
        drawChart(timeline_data, 'timeline', 'Regex date');
        drawChart(mod_timeline_data, 'modified', 'Modified files');
        drawChart(removed_timeline_data, 'removed', 'Removed files');
    }
    </script>


    <h5>Hi</h5>
    <div id="timeline" style="width: 1000px; height: {{timeline_height}}px;"></div>
    <div id="modified" style="width: 1000px; height: {{mod_timeline_height}}px;"></div>
    <div id="removed" style="width: 1000px; height: {{removed_timeline_height}}px;"></div>


        </div>
    </div>

    {% endblock %}
