{% extends data_centre_template %}
{% load static %}
{% load humanize %}

{% block head_title %}CEDA Archive Web Browser{% endblock %}
{% block extra_meta %}
    <meta name="description" content="Web based directory browser for the CEDA Archive.
    Provides download links and access to the relevant CEDA Catalogue record.">
    <meta name="keywords" content="climate data, netcdf, satellite, earth observation, observations, CEDA">
{% endblock %}
{% block page_title %}
{% endblock %}

{% block head_js_extra %}
    <script src="//artefacts.ceda.ac.uk/themes/orgtheme/0.1/_vendor/jquery/dist/jquery.min.js"></script>
    <script>
        function copyPath() {
            var copyText = document.getElementById("path_for_copy_button");
            copyText.select();
            copyText.setSelectionRange(0, 99999); /* For mobile devices */
            navigator.clipboard.writeText(copyText.value);
        }
    </script>
{% endblock head_js_extra %}

{% block content %}
<h2>Filename search</h2>
 <form>
regex: <input name="q" value="{{q}}">
under: <input name="under" value="{{under}}">
<button type="submit">Search</button>
</form>

<h2>Archive Summary</h2>
{{summary}}

<h2>Results:</h2>
{% for record in results %}
<a href="{{record.directory}}">{{record.directory}}</a>/<a href="{{record.path}}">{{record.name}}</a><br/>
{% endfor %}

{% endblock %}
