{% extends "fwtheme_django/layout.html" %}
{% load static %}

{% block page_title %}
{% endblock %}

{% block content %}
<h2 id="on_tape">Files on Tape</h2>

<p>CEDA is working on ways to manage data just as a tape archive. If you encounter data that is on tape that you require please email <a href="mailto:support@ceda.ac.uk">support@ceda.ac.uk</a> to request it.</p>

<p>If you are working on JASMIN then you can access this data using the Near-line archive (NLA) tools. See <a href="https://help.ceda.ac.uk/article/265-nla">https://help.ceda.ac.uk/article/265-nla</a></p>


{% endblock %}
