{% extends data_centre_template %}
{% load static %}
{% load humanize %}

{% block head_title %}CEDA Archive Web Browser{% endblock %}
{% block extra_meta %}
    <meta name="description" content="Web based directory browser for the CEDA Archive.
    Provides download links and access to the relevant CEDA Catalogue record.">
    <meta name="keywords" content="climate data, netcdf, satellite, earth observation, observations, CEDA">
{% endblock %}
{% block page_title %}

<script src="//artefacts.ceda.ac.uk/themes/orgtheme/0.1/_vendor/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.7.2/bluebird.min.js" integrity="sha512-TFp7JOp8so/oHJrngLI0kn9diZrc0YDr1NrGj1YbzbvSBdGfligjYVRp1xtqlmNCPWpx4xJDhiWSGgUYvqCbBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js" integrity="sha512-XMVd28F1oH/O71fzwBnV7HucLxVwtxf26XV8P4wPk26EDxuGZ91N8bsOttmnomcCD3CS5ZMRL50H0GgOHvegtg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js" referrerpolicy="no-referrer"></script>
<script src="/static/browser/js/downloader.js"></script>
<script>
  const paths = {{download_paths | safe }}; 
</script>

{% endblock %}
{% block content %}



<h2>
  ZIP File Download
</h2>


<form method="get">

    <table border="0" cellpadding="1">
    <tr><td>Start path:</td><td><a href="{{directory}}">{{directory}}<a></td></tr>
    <tr><td>Maximum directory depth:</td><td><input type="text" maxlength="2" size="2" name="depth" value="{{depth}}"></td></tr>
    <tr><td><font size="1">Number of directories to descend from start path</font></td><td></td></tr>
    <tr><td>Filename filter:</td><td><input type="text" maxlength="20" size="15" name="query_string" value="{{query_string}}"></td></tr>
    </table>

    <input type="hidden" name="path" value="{{directory}}">
    <input type="submit" value="Refresh file list" class="btn btn-outline-primary"> 

<p/>

</form>
<div class="mb-2">


<button id="download-button" class="btn btn-primary mr-1" data-original-title="Download ZIP" title="Download ZIP" onclick="location.href='/zip/download?path={{directory}}&query_string={{query_string}}&depth={{depth}}'">
    <i class="fa-solid fa-download"></i> Download
</button>
<a class="btn btn-outline-primary" title="Back" href="{{directory}}">
    <i class="fa-solid fa-arrow-left" aria-hidden="true"></i> Back to archive
</a>
</div>

<p></p>

<h5>Download summary</h5>

<p>Total size: {{size|filesizeformat}} in {{nfiles}} files</p>

{% if max_files_exceeded  %}
   <p><font color="red">This list is truncated as you have reached the maximum allowed number of files ({{max_files}})</font></p>
{% endif %}

{% if max_size_exceeded  %}
   <p><font color="red">This list is truncated as you have reached the maximum total file size ({{max_size|filesizeformat}})</font></p>
{% endif %}



{% if number_blocked_files > 0 %}
   <p><font color="red">Blocked files: {{number_blocked_files}} (files requiring login). Please login and try again.</font></p>
{% endif %}


{% if number_forbidden_files > 0 %}
   <p><font color="red">Forbidden files: {{number_forbidden_files}} (files you do not have permission to access)</font></p>
{% endif %}




{% if nfiles > 0 %}

<h5>Files to be included in zip download:</h5>

<table>
    <th>Filename</th><th>Size</th><th>Depth</th>
{% for rec in file_recs %}
<tr><td>{{rec.path}}</td><td>{{rec.size|filesizeformat}}</td><td align="middle">{{rec.depth}}</td></tr>
{% endfor %}
</table>
{% endif %}

<p></p>


{% if number_blocked_files > 0 %}
<h5>Blocked files:</h5>
The following files were not accessible because they require you to be logged in to a CEDA account:
<p></p>
<table cellpadding="3">
<th>Filename</th><th>Size</th><th>Depth</th>

{% for rec in blocked_recs %}
<tr><td><font color="red">{{rec.path}}</font></td><td align="middle"><font color="red">{{rec.size|filesizeformat}}</font></td><td align="middle"><font color="red">{{rec.depth}}</font></td></tr>
{% endfor %}
</table>
{% endif %}


{% if number_forbidden_files > 0 %}
<h5>Forbidden files:</h5>
The following files were not accessible because your account does not have permission to access them:
<p></p>
<table cellpadding="15">
<th>Filename</th><th>Size</th><th>Depth</th>

{% for rec in forbidden_recs %}
<tr><td><font color="red">{{rec.path}}</font></td><td align="middle"><font color="red">{{rec.size|filesizeformat}}</font></td><td align="middle"><font color="red">{{rec.depth}}</font></td></tr>
{% endfor %}
</table>
{% endif %}



<p></p>

Please <a href="javascript:void(0);" id="beacon" onclick="Beacon('toggle')">contact us</a> if you require assistance.
{% endblock %}


{% block footer %}
    {{ block.super }}
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', '{{ beacon }}')</script>
{% endblock footer %}
